svg.icons {
    display: none;
}
svg.menu > g.sector > path {
    cursor: pointer;
}
svg.menu > g.sector > text,
svg.menu > g.sector > use {
    cursor: pointer;
    fill: white;
}
svg.menu > g.center > text,
svg.menu > g.center > use {
    cursor: pointer;
    fill: white;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#menu {
    position: absolute;
    width: 100%;
    height: 100%;
}
.menuHolder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
}
